In [1]:
import Pkg; 

Pkg.add("CSV") # install CSV
Pkg.add("DataFrames") # install Dataframes
Pkg.add("TimeSeries")
Pkg.add("Pandas")
Pkg.add("Plots") # plotting dataframe
Pkg.add("StatsPlots")
Pkg.add("RollingFunctions") # rolling functions

   Updating registry at `~/.julia/registries/General`
######################################################################### 100.0%
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`
  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`

In [2]:
# import libraries
using CSV;
using Dates;
using DataFrames;
using Statistics;
using Plots;
using StatsPlots;
using RollingFunctions;

In [3]:
# load data
df = CSV.File("../../database/hkex_ticks_day/hkex_0001.csv") |> DataFrame

first(df,5)

5×6 DataFrame
│ Row │ Date       │ Open    │ High    │ Low     │ Close   │ Volume   │
│     │ Date       │ Float64 │ Float64 │ Float64 │ Float64 │ Int64    │
├─────┼────────────┼─────────┼─────────┼─────────┼─────────┼──────────┤
│ 1   │ 2000-01-04 │ 33.0375 │ 33.3678 │ 32.3767 │ 32.3767 │ 3194413  │
│ 2   │ 2000-01-05 │ 30.89   │ 31.3856 │ 29.9815 │ 30.1467 │ 6058531  │
│ 3   │ 2000-01-06 │ 30.3945 │ 30.5596 │ 28.0818 │ 28.66   │ 10440480 │
│ 4   │ 2000-01-07 │ 29.073  │ 29.4033 │ 28.5774 │ 29.2381 │ 6049796  │
│ 5   │ 2000-01-10 │ 30.2293 │ 30.7248 │ 29.4859 │ 29.4859 │ 5195405  │

#### Data inspection

In [4]:
first(df, 5) # show first 5 rows

5×6 DataFrame
│ Row │ Date       │ Open    │ High    │ Low     │ Close   │ Volume   │
│     │ Date       │ Float64 │ Float64 │ Float64 │ Float64 │ Int64    │
├─────┼────────────┼─────────┼─────────┼─────────┼─────────┼──────────┤
│ 1   │ 2000-01-04 │ 33.0375 │ 33.3678 │ 32.3767 │ 32.3767 │ 3194413  │
│ 2   │ 2000-01-05 │ 30.89   │ 31.3856 │ 29.9815 │ 30.1467 │ 6058531  │
│ 3   │ 2000-01-06 │ 30.3945 │ 30.5596 │ 28.0818 │ 28.66   │ 10440480 │
│ 4   │ 2000-01-07 │ 29.073  │ 29.4033 │ 28.5774 │ 29.2381 │ 6049796  │
│ 5   │ 2000-01-10 │ 30.2293 │ 30.7248 │ 29.4859 │ 29.4859 │ 5195405  │

In [5]:
last(df, 5) # last 5 rows

5×6 DataFrame
│ Row │ Date       │ Open    │ High    │ Low     │ Close   │ Volume  │
│     │ Date       │ Float64 │ Float64 │ Float64 │ Float64 │ Int64   │
├─────┼────────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 2020-09-24 │ 46.3    │ 46.65   │ 46.0    │ 46.35   │ 4728562 │
│ 2   │ 2020-09-25 │ 46.1    │ 46.9    │ 46.05   │ 46.55   │ 3907163 │
│ 3   │ 2020-09-28 │ 46.85   │ 47.0    │ 46.4    │ 46.55   │ 4628062 │
│ 4   │ 2020-09-29 │ 46.25   │ 46.6    │ 46.1    │ 46.5    │ 5319638 │
│ 5   │ 2020-09-30 │ 46.15   │ 47.15   │ 46.15   │ 46.6    │ 6518072 │

In [6]:
describe(df)

6×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ Date     │           │ 2000-01-04 │           │ 2020-09-30 │ 5180    │
│ 2   │ Open     │ 51.3261   │ 14.33      │ 48.2606   │ 104.406    │         │
│ 3   │ High     │ 51.8139   │ 14.69      │ 48.7607   │ 104.645    │         │
│ 4   │ Low      │ 50.7815   │ 14.33      │ 47.6      │ 101.963    │         │
│ 5   │ Close    │ 51.2954   │ 14.582     │ 48.1273   │ 103.03     │         │
│ 6   │ Volume   │ 7.05069e6 │ 0          │ 6.16829e6 │ 80792271   │         │

In [7]:
names(df) # column names

6-element Array{String,1}:
 "Date"
 "Open"
 "High"
 "Low"
 "Close"
 "Volume"

In [8]:
propertynames(df)

6-element Array{Symbol,1}:
 :Date
 :Open
 :High
 :Low
 :Close
 :Volume

#### Select row within date range

In [9]:
first(df[(df.Date .> Date(2017, 1)) .& (df.Date .< Date(2019, 1)), :])

DataFrameRow
│ Row │ Date       │ Open    │ High    │ Low     │ Close   │ Volume  │
│     │ Date       │ Float64 │ Float64 │ Float64 │ Float64 │ Int64   │
├─────┼────────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 2017-01-03 │ 76.9772 │ 78.6666 │ 76.2407 │ 78.6666 │ 5620699 │

In [10]:
dates = [Date(2017, 1),Date(2018)];
yms = [yearmonth(d) for d in dates];
print(yms)

first(df[in(yms).(yearmonth.(df.Date)), :], 10)

[(2017, 1), (2018, 1)]

10×6 DataFrame
│ Row │ Date       │ Open    │ High    │ Low     │ Close   │ Volume  │
│     │ Date       │ Float64 │ Float64 │ Float64 │ Float64 │ Int64   │
├─────┼────────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 2017-01-03 │ 76.9772 │ 78.6666 │ 76.2407 │ 78.6666 │ 5620699 │
│ 2   │ 2017-01-04 │ 78.7965 │ 78.8832 │ 77.4103 │ 78.1034 │ 3966484 │
│ 3   │ 2017-01-05 │ 79.0565 │ 79.0565 │ 78.0168 │ 78.58   │ 3496704 │
│ 4   │ 2017-01-06 │ 78.7532 │ 78.7965 │ 77.6269 │ 78.1034 │ 5549846 │
│ 5   │ 2017-01-09 │ 78.8399 │ 78.8399 │ 77.7136 │ 77.9735 │ 4810131 │
│ 6   │ 2017-01-10 │ 77.8002 │ 78.7965 │ 77.8002 │ 78.7965 │ 4893132 │
│ 7   │ 2017-01-11 │ 78.6666 │ 80.1394 │ 78.4933 │ 79.9228 │ 5943878 │
│ 8   │ 2017-01-12 │ 80.0528 │ 80.0528 │ 79.0998 │ 79.3597 │ 4247629 │
│ 9   │ 2017-01-13 │ 79.2731 │ 79.8362 │ 79.0131 │ 79.7496 │ 4235011 │
│ 10  │ 2017-01-16 │ 79.4463 │ 79.4463 │ 77.9735 │ 78.4933 │ 3958313 │

#### Select column

In [11]:
close = select(df, :Close) # select column
first(close, 5)

5×1 DataFrame
│ Row │ Close   │
│     │ Float64 │
├─────┼─────────┤
│ 1   │ 32.3767 │
│ 2   │ 30.1467 │
│ 3   │ 28.66   │
│ 4   │ 29.2381 │
│ 5   │ 29.4859 │

In [12]:
date = select(df, :Date)
first(date, 5)

5×1 DataFrame
│ Row │ Date       │
│     │ Date       │
├─────┼────────────┤
│ 1   │ 2000-01-04 │
│ 2   │ 2000-01-05 │
│ 3   │ 2000-01-06 │
│ 4   │ 2000-01-07 │
│ 5   │ 2000-01-10 │

#### Save dataframe as csv

In [ ]:
CSV.write("test.csv", df)