In [2]:
import pandas as pd

### Survive in 1 year

In [56]:
filename = 't1_results-decisiontree.csv' # use your path
df_t1 = pd.read_csv(filename, index_col=None, header=0)
print("Number of companies: " + str(len(df_t1)))

Number of companies: 2321

In [57]:
mask = (df_t1['dtree'] == 1)
df_t1[mask]

      Ticker  dtree
0       1301      1
1       1332      1
2       1333      1
3       1352      1
4       1376      1
...      ...    ...
2315    9991      1
2316    9993      1
2317    9994      1
2318    9995      1
2320    9997      1

[1474 rows x 2 columns]

In [58]:
# percentage of survival
len(df_t1[mask]) / len(df_t1)

0.6350710900473934

### Survive in 2 years

In [59]:
filename = 't2_results-decisiontree.csv' # use your path
df_t2 = pd.read_csv(filename, index_col=None, header=0)
print("Number of companies: " + str(len(df_t2)))

Number of companies: 2321

In [60]:
mask = (df_t2['dtree'] == 1)
df_t2[mask]

      Ticker  dtree
8       1381    1.0
21      1450    1.0
29      1717    1.0
33      1723    1.0
37      1736    1.0
...      ...    ...
2287    9927    1.0
2291    9932    1.0
2297    9950    1.0
2307    9977    1.0
2311    9986    1.0

[315 rows x 2 columns]

In [61]:
len(df_t2[mask]) / len(df_t2)

0.13571736320551486

### Survive in 3 years

In [62]:
filename = 't3_results-decisiontree.csv' # use your path
df_t3 = pd.read_csv(filename, index_col=None, header=0)
print("Number of companies: " + str(len(df_t3)))

Number of companies: 2321

In [63]:
mask = (df_t3['dtree'] == 1)
df_t3[mask]

      Ticker  dtree
0       1301      1
2       1333      1
3       1352      1
4       1376      1
6       1379      1
...      ...    ...
2312    9987      1
2316    9993      1
2317    9994      1
2318    9995      1
2320    9997      1

[1479 rows x 2 columns]

In [64]:
len(df_t3[mask]) / len(df_t3)

0.6372253339077983

### Output to csv

In [66]:
df_filtered = df_t3[mask]
df_filtered.to_csv("survived-t3.csv", header='column_names', index=False)